@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
  height: 100vh;
}

.header {
  width: 100vw;
  height: 100px;
  border-bottom: 1px solid black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 12px;
}

.link {
  text-decoration: none;
  color: #000;
  text-align: left;
  transition: 0.3s;
  transition-property: background-color;
  padding: 16px 40px;
}

.link:hover {
  background-color: rgba(82, 78, 80, 0.26);
}

.link + .link {
  margin-top: 20px;
}

.news-list {
  width: full;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@layer base {

  .main {
    @apply h-[calc(100vh_-_100px)] w-full flex
  }

  .news-list__item {
    @apply max-w-5xl h-auto border border-solid border-black flex flex-col w-full mt-10
  }

  .popups-container {
    @apply w-full h-8 border border-solid border-black flex justify-between items-center p-4
  }

  .popup {
    @apply w-80 h-20 rounded-lg flex flex-col justify-center items-center border border-solid border-black bg-white
  }
}